@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

:root {
  --c-white: #fffdfa;
  --c-blue: #00001a;
  --c-gray: #5e607a;
  --c-red: #f15d51;
  --c-silver: #c5c6ce;
  --c-yellow: #e9aa52;
  --f-xl: clamp(2.5rem, 2.1478873239rem + 1.5023474178vw, 3.5rem);
  --f-l: clamp(2rem, 1.823943662rem + 0.7511737089vw, 2.5rem);
  --f-m: 2rem;
  --f-s: 1.25rem;
  --f-xs: 1.125rem;
  --f-body: 0.9375rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  min-height: 100vh;
  line-height: 1.7;
  width: min(69.375rem, calc(100% - 1.5rem));
  margin-inline: auto;
}

h1,h2,h3 {
  line-height: 1.1;
}

h1,h2,h3,p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  list-style-type: none;
}


h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: 0.15s ease-in-out;
  transition-property: color, background-color;
}

ul {
  list-style: none;
}

/* utility classes */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hover-link {
  color: var(--secondary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--hover-color);
}

.primary-button {
  background-color: var(--button-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}

.primary-button:hover {
  background-color: var(--hover-color);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  border-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-button:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

img {
  max-width: 100%;
  height: auto;
  align-items: center;
}

/* weather */
/* top banner social media */
#top-banner {
  position: relative;
  height: 1.5rem;
  background-color: var(--c-white);
  color: var(--c-blue);
  font-size: 0.8rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}
#top-banner img {
  height: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}
#weather-info {
  position: relative;
  width: 40rem;
  white-space: nowrap;
  overflow: hidden;
}
#weather-info span {
  display: inline-block;
}
#social-icons {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#social-icons i {
  font-size: small;
  margin-right: 10px;
  color: var(--c-yellow);
  background-color: var(--c-blue);
  transition: transform 0.3s;
  transform-style: preserve-3d;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 20%;
}
#social-icons:hover {
  cursor: pointer;
}
#social-icons i:hover {
  transform: rotateX(360deg);
  color: var(--c-white);
}

/*  */
 
/* NAV */
.main-nav {
  height: 3rem;
  background-color: var(--c-white);
  margin: 10px 10px 10px 50px;
  display: flex;
  justify-content: space-between;
}

.company-logo img {
  height: 2rem;
  width: 4rem;
}

.nav-links {
  width: 450px;
  position: relative;
}

.nav-links ul {
  display: flex;
  font-size: small;
}

.nav-links {
  position: relative;
}

.search-form {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1; /* Ensure the search form is on top */
  width: max-content;
}

.search-input {
  height: 2rem;
  width: 500px; /* Adjust the width as needed */
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  font-size: larger;
  border: 1px solid var(--c-yellow); /* Align vertically in the middle */
  margin-left: 5rem;
}
.search_button_0nclick{
border: none;
display: inline-block;
  background-color: var(--c-red);
  color: var(--c-white);
  font-size: 0.875rem;
  letter-spacing: 0.31em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 0.5rem;
  margin-left: 0.5rem;
}
.search-btn, .close-btn {
  height: 2rem;
  cursor: pointer;
  vertical-align: middle; /* Align vertically in the middle */
}

.close-btn{
  margin-left: 10rem;
  background-color: var(--c-silver);
  color: var(--c-white);
  font-size: 0.875rem;
  letter-spacing: 0.31em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 1rem;

}

.nav-blur {
  backdrop-filter: blur(5px); /* Use backdrop-filter to blur only the background */
}

/* Contact Start */

.contact{
margin: 3rem ;
}
.contact h1{
    margin-bottom: 2rem;
    font-size: 4rem;
}
.contact p{
    margin-bottom: 5rem;
    font-family: 'cursive';
}
.contact__box{
background: var(--c-white);
display: flex;
height: 35rem;
}

.contact__left__box{
    flex-basis: 60%;
    padding: 40px 40px;
    background-color: var(--c-silver);

}
.contact__right__box{
    flex-basis: 40%;
    padding: 40px 0px 0px 20px;
    background: var(--c-yellow);

}

.input_group{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}


.input_group .input_box{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--c-blue) ;
    outline: none;
    padding-bottom: 1rem;
    background-color: var(--c-silver);
    margin: 0;
}
label{
    margin-bottom: 1rem;
    display: block;
    color: var(--c-white);
    font-weight: 600;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 1.2rem;
    box-sizing: border-box ;
    padding-bottom: 2rem;
}

.read-more-1 {
    display: inline-block;
    background-color: var(--c-red);
    color: var(--c-white);
    font-size: 0.875rem;
    letter-spacing: 0.31em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75rem 2rem;
    border: none;
  }
  
  .read-more-1:hover {
    background: var(--c-blue);
  }
.all__info_contact{
    padding: 0.7rem;
}

.info_contact{
    display: flex;
    align-items: baseline;
   gap: 1rem;
   height: 4rem;
}
/* footer */

footer {
    background-color: #111;
  }
  
  .footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
  }
  
  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  
  .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
  }
  
  /* Hover affect on social media icon */
  .socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
  }
  
  .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }
  
  .footerNav {
    margin: 30px 0;
  }
  
  .footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  
  }
  
  .footerNav ul li a:hover {
    opacity: 1;
  }
  
  .footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  
  .footerBottom p {
    color: white;
  }
  
  .designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
  
  @media (max-width: 700px) {
    .footerNav ul {
      flex-direction: column;
    }
  
    .footerNav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  
    .socialIcons a {
      padding: 8px;
      margin: 4px;
    }
  }