<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static "css/navbar.css" %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>News WebSite Modern</title>
</head>

<body>

  <div id="top-banner">
    <div id="weather-info">
        <span>Weather info goes here</span>
    </div>
    <div id="social-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/nitin_14gupta" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
</div>
    <hr>
    
     <!-- NAv -->
    <nav>
      <div class="container main-nav flex">
        <a href="#" class="company-logo">
            <img src="{%static "images/logo.png" %}" alt="company logo">
        </a>
        <div class="nav-links" id="nav-links">
          <ul class="flex all__kk">
            <li><a href="#" class="hover-link search-icon"><i class="fa-brands fa-searchengin"></i></a></li>
            <li><a href="#" class="hover-link">Products</a></li>
            <li><a href="#" class="hover-link">Customer</a></li>
            <li><a href="#" class="hover-link">Pricing</a></li>
            <li><a href="#" class="hover-link">Resources</a></li>
            <li><a href="#" class="hover-link"><i class="fa-solid fa-user"></i></a></li>
          </ul>
          <div class="search-form">
            <input type="text" placeholder="Latest News, Updates" class="search-input">
           <a href="#" class="search.btn">
            <button class=" search.btn search_button_0nclick">Search</button>
          </a>
            <i class="fa-solid fa-times close-btn"></i>
          </div>
        </div>
      </div>
    </nav>
  
<!-- Sub-nav -->
    <article class="menu-bar">
      <ul>
        
        <li><a href="#">About</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Blogggggggg</a></li>

      </ul>
    </article>
    
<!-- Hero Section -->
<article class="hero-main" style="display: flex;">
    {% if featured_article %}
    <section class="doing-flex-para-read-h1-image">
        <section class="feature">
            <a href="#">
                <!-- Display the image of the featured article -->
                {% if featured_article.article_main_image %}
                    <img src="{{ featured_article.article_main_image.url }}" alt="{{ featured_article.article_name }}" class="img_feature__hero">
                {% endif %}
            </a>
            <article class="new-sec-para-img">
                <section class="feature-para-head">
                    <h1 class="feature__headline">{{ featured_article.article_heading }}</h1>
                </section>
                <section class="para-anchor-read-more">
                    <!-- Display the description of the featured article -->
                    <p class="feature__description">{{ featured_article.article_desc|truncatewords:20 }}</p>
                    <a href="#" class="read-more">READ MORE</a>
                </section>
            </article>
        </section>
    </section>
{% else %}
    <!-- Handle case where no featured article is found -->
    <p>No featured article found.</p>
{% endif %}

  <section class="new">
    <h2>New</h2>
    <article class="new__post">
      <h3 class="new__headline"><a href="/">{{ section_new1_page.article_heading }}</a></h3>
      <p class="new__description">{{section_new1_page.article_desc|truncatewords:10 }}</p>
    </article>
    
    <article class="new__post">
      <h3 class="new__headline"><a href="/">{{ section_new2_page.article_heading }}</a></h3>
      <p class="new__description">{{section_new2_page.article_desc|truncatewords:10 }}</p>
    </article>
    
    <article class="new__post">
      <h3 class="new__headline"><a href="/">{{ section_new3_page.article_heading }}</a></h3>
      <p class="new__description">{{section_new3_page.article_desc|truncatewords:10 }}</p>
    </article>
    
  </section>
</article>
<!-- vertical slider non stop daily News -->

<section class="new__horizontal__slider">

  <section class="first__column__news column__news">
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr>
    <article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>
    <hr><article class=" first_column_first_news column_first_news column">
      <img src="first.gif" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
    </article>

  </section>
  <!-- Second Column of News -->
  <section class="second__column__news column__news">
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr><article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
  </section>
  <!-- Third Column -->
  <section class="third__column__news column__news">
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="images/img-8.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="images/img-5.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="images/img-1.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="/images/img-7.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="images/feature-desktop.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="first.gif" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
      <hr>
      <article class=" first_column_first_news column_first_news column">
        <img src="images/flag.png" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur.</p>
      </article>
  </section>
</section>
<span class="divider__line"></span>



{% for article, range, nSlides in allProds %}
<h2 class="my-4"> {{article.0.article_category}} </h2>
<div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

   {% for i in range %}
  <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
  {% endfor %}
</ul>


<div class="container carousel-inner no-padding">

  <div class="carousel-item active">


    {% for i in article %}
    <div class="col-xs-3 col-sm-3 col-md-3" >
      <a href="#">
      <div class="card"  style="width: 18rem;" >
        <img src='/media/{{i.article_main_image}}'  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.article_name|truncatewords:2}}</h5>
          <p class="card-text">{{i.article_desc|truncatewords:10}}</p>
          {% comment %} <form method="post" action="{% url 'add_to_cart' i.id %}"> {% endcomment %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary cart">SAVE</button>
        </form>
        </div>
      </div>
    </a>
    </div>
    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
  </div><div class="carousel-item">
    {% endif %}

    {% endfor %}
</div>
</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
        </div>
    {% endfor %}
      {% comment %} <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div>

    <span class="divider__line"></span>
    <!-- Supreme  Court Section Ends -->

    <!-- High  Court Section Starts -->
    <h2 class="trending__headline">High Court</h2>
    <div class="high__court">
      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div>

    <span class="divider__line"></span>
    <!-- high Court Ends -->

    <!-- News Update Start -->
    <h2 class="trending__headline">News Updates</h2>
    <div class="high__court">
      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div>

    <span class="divider__line"></span>
    <!-- News Update End -->
    <!-- Articles Start -->
    <h2 class="trending__headline">Articles</h2>
    <div class="supreme__court">
      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div>
    <span class="divider__line"></span>
    <!-- Articles End -->
    <!-- Study the Law Start -->

    <h2 class="trending__headline">Know the Law</h2>
    <div class="high__court">
      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div>

    <span class="divider__line"></span>
    <!-- Study the law End -->

    <!-- Videos Start -->
    <h2 class="trending__headline">Videos</h2>
    <div class="high__court">
      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__3">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div>

    <span class="divider__line"></span>
<!-- Videos End -->
<!-- Saved Starts -->

<h2 class="trending__headline">Saved</h2>
    <div class="supreme__court">
      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

      <div class="card__2">
        <img src="images/img-1.jpg" alt="Slide 1">
        <div class="card-content">
          <h3>Card Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="button">Read More</a>
        </div>
      </div>

    </div> {% endcomment %}

    <!-- footer Starts -->

    <footer>
      <div class="footerContainer">
        <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">our Team</a></li>
          </ul>
        </div>

      </div>
      <div class="footerBottom">
        <p>Copyright &copy;2024; Designed by <span class="designer">Nitin</span></p>
      </div>
    </footer>

    <!-- footer Ends -->

    </footer>
    </article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/72e3dd6a7a.js" crossorigin="anonymous"></script>
    <script src="{%static "js/navbar.js"%}"></script>
</body>

</html> 