@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* weather */
  
  .weather-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  #weather-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  
  #weather-info {
    font-size: 24px;
  }
  

/* nav bar */
nav{
    background-color: antiquewhite;
    height: 5.5rem;
    display: flow-root;
}
.main-nav {
    margin-top: 10px;
    justify-content: space-between;
}

.company-logo img {
    width: 80px;
    height: 50px;
    
    margin-top: 10px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 25px;
    font-size: 1.07rem;
}
.nav-links ul i{
    font-size: larger;
    color: #1d69a3;
}
.nav-toggle {
    display: none;
}

/* header all info here */

header{
    background-color: #183b56;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li{
    list-style-type: none;
}

.hover-links{
    color: white;
    font-size: 0.7rem;
}

.hover-links:hover{
   color: var(--accent-color-dark);
}


/* Hero Section */

.hero{
    background-color: rgb(215, 250, 221);
    height: 34.8rem;
}

.banner-f-news{

}

.hero-image{
margin-top: 5rem;
padding-left: 6rem;
}

.aside-news-new{

}